# This workflow will run our tests, generate an lcov code coverage file,
# and send that coverage to Coveralls

name: Code Coverage

on:
  push:
    branches-ignore: dev/*
  pull_request:

jobs:
  combined_coverage:
    uses: yext/slapshot-reusable-workflows/.github/workflows/coverage.yml@v1
    with:
      test_script: npx playwright install && npm run build:css && npm run test
    secrets:
      caller_github_token: ${{ secrets.GITHUB_TOKEN }}
      MAPBOX_API_KEY: ${{ secrets.MAPBOX_API_KEY }}
  individual_coverage_percentages:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    needs: combined_coverage
    steps:
      - uses: actions/checkout@v4
      - name: Download the current coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage
          path: coverage/
      - name: Get Visual Coverage Percentage
        uses: yext/slapshot-reusable-workflows/get-coverage-percent@v1
        with:
          coverage-file: coverage/visual/lcov.info
        id: parse-visual-coverage
      - name: Get Unit Coverage Percentage
        uses: yext/slapshot-reusable-workflows/get-coverage-percent@v1
        with:
          coverage-file: coverage/unit/lcov.info
        id: parse-unit-coverage
      - name: Get Combined Coverage Percentage
        uses: yext/slapshot-reusable-workflows/get-coverage-percent@v1
        with:
          coverage-file: coverage/lcov.info
        id: parse-combined-coverage
      - name: Find Comment
        uses: peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Current visual coverage
      - name: Create/Update Comment
        uses: peter-evans/create-or-update-comment@v4
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          edit-mode: replace
          body: |
            Current unit coverage is ${{ steps.parse-unit-coverage.outputs.coverage-percent }}%
            Current visual coverage is ${{ steps.parse-visual-coverage.outputs.coverage-percent }}%
            Current combined coverage is ${{ steps.parse-combined-coverage.outputs.coverage-percent }}%
