# This workflow will run our tests, generate an lcov code coverage file,
# and send that coverage to Coveralls 

name: Code Coverage

on:
  push:
    branches-ignore: dev/*
  pull_request:

jobs:
  call_code_coverage:
    uses: yext/slapshot-reusable-workflows/.github/workflows/coverage.yml@v1
    secrets:
      caller_github_token: ${{ secrets.GITHUB_TOKEN }}
