# This workflow will run our tests, generate an lcov code coverage file,
# and send that coverage to Coveralls 

name: Code Coverage

on:
  push:
    branches-ignore: dev/*
  pull_request:

jobs:
  Coveralls:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: Use Node.js 16.x
          uses: actions/setup-node@v2
          with:
            node-version: 16.x
            registry-url: 'https://registry.npmjs.org'
        - run: npm ci --ignore-scripts
          env:
            NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        - run: npm rebuild
        - run: npx jest --coverage
        - name: Coveralls
          uses: coverallsapp/github-action@master
          with:
            github-token: ${{ secrets.GITHUB_TOKEN }}