# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Run Tests

on: [push, pull_request]

jobs:
  call_run_tests-react-17:
    uses: yext/slapshot-reusable-workflows/.github/workflows/run_tests.yml@dev/report-combined
    with:
      node_matrix: '["14.x", "16.x", "18.x"]'

  call_run_tests-react-16:
    uses: yext/slapshot-reusable-workflows/.github/workflows/run_tests.yml@dev/report-combined
    with:
      build_script: |
        npm i -D react@16.14 react-dom@16.14
        npm run build
      node_matrix: '["14.x", "16.x", "18.x"]'
