name: WCAG tests

on:
  pull_request:
    branches: [main, develop, feature/*]

jobs:
  call_wcag_test:
    uses: yext/slapshot-reusable-workflows/.github/workflows/wcag_test.yml@v1
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      MAPBOX_API_KEY: ${{ secrets.MAPBOX_API_KEY }}
    with:
      build_script: npx playwright install && npm run build:css && ./tests/scripts/start-storybook.sh
